
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="text-center">
    <h2>Harika Bir Doğum Günü Partisi  Olacak</h2>
    <h3>Sende Davetlisin</h3>
    @Html.ActionLink("Geliyor musun?","DavetiyeFormu",new {@class="btn"})
</div>

